@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url("../fonts/Montserrat-VariableFont_wght.ttf") format("truetype"); 
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

body {
    padding-top: 60px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
