.suggest-app {
    width: 35%;
    background-color: #fff;
    min-width: 350px;
    min-height: 350px;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #c8cace;
    margin: 0 auto;
}

.suggest-app h2 {
    color: #3d50ff;
    text-align: center;
    margin: 40px 0px 100px 0px;
}