{{template "base" .}}

{{define "title"}}Suggest Article{{end}}

{{define "body"}}
<form id="createForm" action="/article/suggest" method="POST">
    {{with .Form}}
        <div>
            <label>Link to article:</label>
            {{with .Errors.Get "link"}}
                <label class="error">{{.}}</label>
            {{end}}
            <input type="text" name="link" value="{{.Get "link"}}">
        </div>
        <div>
            <label>Short description:</label>
            {{with .Errors.Get "content"}}
                <label class="error">{{.}}</label>
            {{end}}
            <textarea name="content">{{.Get "content"}}</textarea>
        </div>
        <div>
            <input type="submit" value="Suggest">
        </div>
    {{end}}
</form>
<script src="/static/js/check.js" type="text/javascript"></script>
<script src="/static/js/auth.js" type="text/javascript"></script>
{{end}}