{{template "base" .}}

{{define "title"}}Home{{end}}

{{define "body"}}
    <h2>Latest News</h2>
    {{if .Articles}}
        {{range .Articles}}
        <div class="cards">
            <div class="cards-body">
                <small class="text-muted">Suggested by {{.UserName}} | {{humanDate .PostedAt}}</small>
                <h3 class="cards-title">{{.Title}}</h3>
                <div style="overflow: hidden; width: 10px; height: 10px;"></div>
                <p class="cards-text">{{.Excerpt}}</p>
                <a href="{{.Link}}" class="btn btn-primary">Read full on {{.SourceName}}...</a>
              </div>
              <p><img src="{{.ImageURL}}" alt="Here is the article's image" width="782"></p>
          </div>
         
          <div style="overflow: hidden; width: 40px; height: 40px;"></div>
        {{end}}
    {{else}}
        <p>There's nothing to see here yet!</p>
    {{end}}
    <script src="/static/js/check.js" type="text/javascript"></script>
    <script src="/static/js/auth.js" type="text/javascript"></script>
{{end}}